<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="iCombine.LiveBoard" Publisher="CN=58ABDB10-F0DC-4C68-9C0A-7BB0561CE5A5" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Live Board</DisplayName>
    <PublisherDisplayName>i&amp;Combine</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HubApp.App">
      <VisualElements DisplayName="Live Board" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Best to use for signage display or slide show at conference breaktime." ForegroundText="dark" BackgroundColor="#d7dbdc">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.lbd</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <FileType>.lbd</FileType>
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>