<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.4.0" targetFramework="win81" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="win81" />
  <package id="LiveSDK" version="5.5" targetFramework="win81" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="win81" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="win81" />
  <package id="PerpetuumSoft.Controls" version="2.0.1" targetFramework="win81" />
  <package id="WinRTXamlToolkit" version="1.5.4.3" targetFramework="win81" />
</packages>